@import "../node_modules/bootstrap/scss/functions";

// override default theme colours
$primary: #68c59a;
$secondary: #b3946c;
// $light:;
// $dark:;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// body{
//     margin:0;
//     padding:0px;
// }
