// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Create your own map
$custom-colors: (
    "custom-color": #42b47f
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
