.sustain-it-nav
{
    background-image: url(assets/cardboard.png);
    background-size: 70%;
    /* background-color: #A06B54; */
}

.sustain-it-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #FFF;
    font-size: 2.6rem;
}

body
{
    background-color: rgb(239, 245, 227);
}

.header-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #132204;
}

.body-text
{
    font-family: 'Roboto', sans-serif;
    color: #142403;
}

.footer-text
{
    font-family: 'Roboto', sans-serif;
    color: #50524e;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white

font-family: 'Podkova', serif;
font-family: 'Roboto', sans-serif;
*/
