.sustain-it-nav {
  /* background-image: url(assets/cardboard2.jpg); */
  background-color: #8d6e50;
}

.sustain-it-text {
  font-family: "Podkova", serif;
  font-weight: 800;
  color: #fff;
  font-size: 2.8rem;
}

body {
  /* background-image: url(assets/paper.jpg); */
  /* background-image: url(assets/brand/sustain-it-white-transparent.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50rem;
  background-color: #76df72;
  background-attachment: fixed;
  /* background-color: rgb(239, 245, 227); */
}

.mission-statement-text {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Podkova', serif; */
  font-size: 1.4em;
  /* font-style: italic; */
  color: #000;
  text-align: center;
}

.header-text {
  font-family: "Podkova", serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 2.4rem;
}

.body-text {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 1.5em;
}

.button {
  font-family: "Open Sans", sans-serif;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: #28c02d;
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white

font-family: 'Podkova', serif;
font-family: 'Roboto', sans-serif;
*/
