.sustain-it-nav
{
    background-image: url(assets/cardboard.png);
}

.sustain-it-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #fff;
    font-size: 2.8rem;
}

body
{
    /* background-image: url(assets/paper.jpg); */
    background-image: url(assets/brand/sustain-it-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #51c069;
    background-attachment: fixed;
    /* background-color: rgb(239, 245, 227); */
}

.mission-statement-text
{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Podkova', serif; */
    font-size: 1.4em;
    /* font-style: italic; */
    color: #FFF;
}

.header-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #FFF;
    font-size: 2.4rem;
}

.body-text
{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 1.1em;
}

.footer-text
{
    font-family: 'Open Sans', sans-serif;
    color: #e4e4e4;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white

font-family: 'Podkova', serif;
font-family: 'Roboto', sans-serif;
*/
