.sustain-it-nav
{
    background-image: url(assets/paper-brown.jpg);
    background-color: #A06B54;
}

.sustain-it-text
{
    font-family: 'Podkova', serif;
    color: #FFF;
    font-size: 2.6rem;
}

body
{
    background-color: #FFF;
}

h1
{
    font-family: 'Podkova', serif;
    color: #000;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white
*/
