.sustain-it-nav
{
    /* background-image: url(assets/cardboard.png); */
    background-color: #9EB276;
}

.sustain-it-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #FFF;
    font-size: 2.6rem;
}

body
{
    background-image: url(assets/paper.jpg);
    background-attachment: fixed;
    /* background-color: rgb(239, 245, 227); */
}

.mission-statement-text
{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Podkova', serif; */
    font-size: 1.8em;
    /* font-style: italic; */
    color: #132204;
}

.header-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #132204;
}

.body-text
{
    font-family: 'Open Sans', sans-serif;
    color: #142403;
    font-size: 1.2em;
}

.footer-text
{
    font-family: 'Open Sans', sans-serif;
    color: #50524e;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white

font-family: 'Podkova', serif;
font-family: 'Roboto', sans-serif;
*/
