.sustain-it-nav {
  background: rgb(103,121,9);
  background: linear-gradient(0deg, rgba(103,121,9,1) 0%, rgba(166,221,134,1) 100%);
}

.sustain-it-text {
  font-family: "Podkova", serif;
  font-weight: 800;
  color: #fff;
  font-size: 2.8rem;
}

body {
  background-color: #fff;
}

.mission-statement-text {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Podkova', serif; */
  font-size: 1.4em;
  /* font-style: italic; */
  color: #000;
  text-align: center;
}

.header-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgb(40, 44, 37);
  font-size: 2.4rem;
}

.header2-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgb(40, 44, 37);
  font-size: 1.8rem;
}

.body-text {
  font-family: "Open Sans", sans-serif;
  color: rgb(40, 44, 37);
  font-size: 1.4em;
}

.button {
  font-family: "Open Sans", sans-serif;
  background: rgb(103,121,9);
  background: linear-gradient(0deg, rgba(103,121,9,1) 0%, rgba(166,221,134,1) 100%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  color: white;
  background: rgb(141,163,24);
  background: linear-gradient(0deg, rgba(141,163,24,1) 0%, rgba(177,237,152,1) 100%);
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white

font-family: 'Podkova', serif;
font-family: 'Roboto', sans-serif;
*/
