.sustain-it-nav
{
    /* background-image: url(assets/cardboard2.jpg); */
    background-color: #8d6e50;
}

.sustain-it-text
{
    font-family: 'Podkova', serif;
    font-weight: 800;
    color: #fff;
    font-size: 2.8rem;
}

body
{
    /* background-image: url(assets/paper.jpg); */
    /* background-image: url(assets/brand/sustain-it-white-transparent.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50rem;
    background-color: #1f924f;
    background-attachment: fixed;
    /* background-color: rgb(239, 245, 227); */
}

.mission-statement-text
{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Podkova', serif; */
    font-size: 1.4em;
    /* font-style: italic; */
    color: #fff;
    text-align: center;
}

.header-text
{
    font-family: 'Podkova', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 2.4rem;
}

.body-text
{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.5em;
}

.footer-text
{
    font-family: 'Open Sans', sans-serif;
    color: #e4e4e4;
}

/* 
#A06B54 brown
#9EB276 green
#FFFFFF white

font-family: 'Podkova', serif;
font-family: 'Roboto', sans-serif;
*/