.sustain-it-nav {
  /* background: #855d4c; */
  background: #5da15b;
}

.sustain-it-text {
  font-family: "Podkova", serif;
  font-weight: 800;
  color: #fff;
  font-size: 2.8rem;
}

body {
  background-color: #fff;
}

.mission-statement-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  /* font-style: italic; */
  color: #000;
  text-align: center;
}

.header-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgb(40, 44, 37);
  font-size: 2.4rem;
}

.header2-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgb(40, 44, 37);
  font-size: 1.8rem;
}

.body-text {
  font-family: "Open Sans", sans-serif;
  color: rgb(40, 44, 37);
  font-size: 1.4em;
}

.button {
  font-family: "Open Sans", sans-serif;
  background: #6eaf47;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  color: white;
  background: #90d469;
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  color: rgb(40, 44, 37);
  font-size: 1.2rem;
}
