.nav-color
{
    background-color: #9EB276;
}

body
{
    background-color: #fff;
}

.sustain-it-text
{
    font-family: 'Podkova', serif;
    color: #FFF;
    font-size: 3.2rem;
}
/* 
#A06B54 brown
#9EB276 green
#FFFFFF white
*/